*{
    background-color: rgb(96, 96, 224);
    color: rgb(247, 236, 236);
}

header{
    align-self: center;
}

.image{
    /* max-width: 1em;
    max-height: 1em;
    display: block; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30px;
}

a:hover{
    color: rgb(4, 4, 44);
    font-size: larger;
}

table{
    border:1px black solid;
}